@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
   @apply bg-light flex flex-col font-notosans;
  }

  p {
    @apply font-normal text-dark;
  }

  h1 {
		@apply text-[3rem] md:text-[4.5rem] lg:text-[5rem] xl:text-8xl font-medium leading-[110%] uppercase text-light80;
	}

  h2 {
		@apply text-2xl md:text-3xl lg:text-3xl xl:text-6xl font-medium text-dark;
	}

  h3 {
		@apply text-xl md:text-2xl lg:text-2xl xl:text-3xl font-medium;
	}

  .h4 {
		@apply text-lg md:text-lg lg:text-lg xl:text-lg font-medium leading-[110%];
	}

  .portable p {
    @apply my-2;
  }

  .portable strong {
    @apply font-semibold;
  }

  .portable h3 {
		@apply text-xl md:text-2xl lg:text-2xl xl:text-3xl font-medium mt-8 mb-2;
	}

  .portable h4 {
		@apply text-base md:text-lg lg:text-lg xl:text-xl font-medium mt-8 mb-2;
	}

  .portable ul {
    @apply list-disc ml-4;
  }

  .portable li {
    @apply my-2;
  }

  .x-margin {
		@apply px-4 md:px-16 lg:px-40;
	}

  .y-margin {
		@apply py-12 md:py-20 lg:py-24;
	}

  .t-margin {
		@apply pt-12 md:pt-20 lg:pt-24;
	}

  .b-margin {
		@apply pb-12 md:pb-20 lg:pb-24;
	}

  .no-scroll {
    overflow: hidden;
  }
}


