@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
   @apply bg-light flex flex-col;
  }

  h1, h2, h3, p, a, span, button {
    @apply font-poppins;
  }

  p {
    @apply font-normal;
  }

  h1 {
		@apply text-[3rem] md:text-[4.5rem] lg:text-[5rem] xl:text-8xl font-medium leading-[110%] uppercase text-light80;
	}

  h2 {
		@apply text-3xl md:text-3xl lg:text-4xl xl:text-6xl font-medium leading-[110%] text-dark;
	}

  h3 {
		@apply text-xl md:text-2xl lg:text-2xl xl:text-3xl font-medium;
	}

  .h4 {
		@apply text-lg md:text-xl lg:text-xl xl:text-xl font-medium leading-[110%];
	}

  .sub-small {
		@apply font-semibold uppercase text-dark70;
	}

  .x-margin {
		@apply px-4 md:px-16 lg:px-40;
	}

  .y-margin {
		@apply py-12 md:py-20 lg:py-24;
	}

  .no-scroll {
    overflow: hidden;
  }
}


